<a href="https://colab.research.google.com/github/Lucas-Petrus/DS-Unit-2-Applied-Modeling/blob/master/WednesdayLucasPetrusNBAdataLS_DS_231_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 3*

---


# Permutation & Boosting

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your work.

- [ ] If you haven't completed assignment #1, please do so first.
- [ ] Continue to clean and explore your data. Make exploratory visualizations.
- [ ] Fit a model. Does it beat your baseline? 
- [ ] Try xgboost.
- [ ] Get your model's permutation importances.

You should try to complete an initial model today, because the rest of the week, we're making model interpretation visualizations.

But, if you aren't ready to try xgboost and permutation importances with your dataset today, that's okay. You can practice with another dataset instead. You may choose any dataset you've worked with previously.

The data subdirectory includes the Titanic dataset for classification and the NYC apartments dataset for regression. You may want to choose one of these datasets, because example solutions will be available for each.


## Reading

Top recommendations in _**bold italic:**_

#### Permutation Importances
- _**[Kaggle / Dan Becker: Machine Learning Explainability](https://www.kaggle.com/dansbecker/permutation-importance)**_
- [Christoph Molnar: Interpretable Machine Learning](https://christophm.github.io/interpretable-ml-book/feature-importance.html)

#### (Default) Feature Importances
  - [Ando Saabas: Selecting good features, Part 3, Random Forests](https://blog.datadive.net/selecting-good-features-part-iii-random-forests/)
  - [Terence Parr, et al: Beware Default Random Forest Importances](https://explained.ai/rf-importance/index.html)

#### Gradient Boosting
  - [A Gentle Introduction to the Gradient Boosting Algorithm for Machine Learning](https://machinelearningmastery.com/gentle-introduction-gradient-boosting-algorithm-machine-learning/)
  - [An Introduction to Statistical Learning](http://www-bcf.usc.edu/~gareth/ISL/ISLR%20Seventh%20Printing.pdf), Chapter 8
  - _**[Gradient Boosting Explained](https://www.gormanalysis.com/blog/gradient-boosting-explained/)**_ — Ben Gorman
  - [Gradient Boosting Explained](http://arogozhnikov.github.io/2016/06/24/gradient_boosting_explained.html) — Alex Rogozhnikov
  - [How to explain gradient boosting](https://explained.ai/gradient-boosting/) — Terence Parr & Jeremy Howard

The score I would get for just guessing would be 50.00% accuracy

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Lucas-Petrus/DS-Unit-2-Applied-Modeling/master/data/nba.games.stats.csv%20-%20Sheet1.csv')

In [3]:
df.head()

   Unnamed: 0 Team  Game  ... Opp.Blocks Opp.Turnovers Opp.TotalFouls
0           1  ATL     1  ...          9             9             22
1           2  ATL     2  ...          5            18             26
2           3  ATL     3  ...          9            19             15
3           4  ATL     4  ...          7            19             30
4           5  ATL     5  ...          6            15             29

[5 rows x 41 columns]

In [4]:
df = df.drop(columns={'Unnamed: 0'}, axis=1)

In [5]:
df = df.drop(columns={'TeamPoints','OpponentPoints','Game','FieldGoals',
                      'FieldGoals.','X3PointShots','X3PointShots.','FreeThrows',
                      'Opp.FieldGoals','Opp.FieldGoals.','Opp.3PointShots',
                      'Opp.3PointShots.','Opp.FreeThrows'}, axis=1,)

In [6]:
df.head()

  Team        Date  Home  ... Opp.Blocks Opp.Turnovers  Opp.TotalFouls
0  ATL  2014-10-29  Away  ...          9             9              22
1  ATL  2014-11-01  Home  ...          5            18              26
2  ATL  2014-11-05  Away  ...          9            19              15
3  ATL  2014-11-07  Away  ...          7            19              30
4  ATL  2014-11-08  Home  ...          6            15              29

[5 rows x 27 columns]

In [7]:
df.rename(columns={'WINorLOSS':'WINNER'}, inplace=True)

In [8]:
df.head()

  Team        Date  Home  ... Opp.Blocks Opp.Turnovers  Opp.TotalFouls
0  ATL  2014-10-29  Away  ...          9             9              22
1  ATL  2014-11-01  Home  ...          5            18              26
2  ATL  2014-11-05  Away  ...          9            19              15
3  ATL  2014-11-07  Away  ...          7            19              30
4  ATL  2014-11-08  Home  ...          6            15              29

[5 rows x 27 columns]

In [9]:
df['WINNER'] = df['WINNER'] == 'W'

In [10]:
df.head()

  Team        Date  Home  ... Opp.Blocks  Opp.Turnovers  Opp.TotalFouls
0  ATL  2014-10-29  Away  ...          9              9              22
1  ATL  2014-11-01  Home  ...          5             18              26
2  ATL  2014-11-05  Away  ...          9             19              15
3  ATL  2014-11-07  Away  ...          7             19              30
4  ATL  2014-11-08  Home  ...          6             15              29

[5 rows x 27 columns]

In [11]:
df['Home'] = df['Home'] =='Home'

In [12]:
df.head()

  Team        Date   Home  ... Opp.Blocks  Opp.Turnovers  Opp.TotalFouls
0  ATL  2014-10-29  False  ...          9              9              22
1  ATL  2014-11-01   True  ...          5             18              26
2  ATL  2014-11-05  False  ...          9             19              15
3  ATL  2014-11-07  False  ...          7             19              30
4  ATL  2014-11-08   True  ...          6             15              29

[5 rows x 27 columns]

In [13]:
df.isnull().sum()

Team                        0
Date                        0
Home                        0
Opponent                    0
WINNER                      0
FieldGoalsAttempted         0
X3PointShotsAttempted       0
FreeThrowsAttempted         0
FreeThrows.                 0
OffRebounds                 0
TotalRebounds               0
Assists                     0
Steals                      0
Blocks                      0
Turnovers                   0
TotalFouls                  0
Opp.FieldGoalsAttempted     0
Opp.3PointShotsAttempted    0
Opp.FreeThrowsAttempted     0
Opp.FreeThrows.             0
Opp.OffRebounds             0
Opp.TotalRebounds           0
Opp.Assists                 0
Opp.Steals                  0
Opp.Blocks                  0
Opp.Turnovers               0
Opp.TotalFouls              0
dtype: int64

In [14]:
df.describe()

       FieldGoalsAttempted  ...  Opp.TotalFouls
count          9840.000000  ...     9840.000000
mean             84.902439  ...       20.058537
std               7.130043  ...        4.317611
min              60.000000  ...        7.000000
25%              80.000000  ...       17.000000
50%              85.000000  ...       20.000000
75%              89.000000  ...       23.000000
max             129.000000  ...       42.000000

[8 rows x 22 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9840 entries, 0 to 9839
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Team                      9840 non-null   object
 1   Date                      9840 non-null   object
 2   Home                      9840 non-null   bool
 3   Opponent                  9840 non-null   object
 4   WINNER                    9840 non-null   bool
 5   FieldGoalsAttempted       9840 non-null   int64
 6   X3PointShotsAttempted     9840 non-null   int64
 7   FreeThrowsAttempted       9840 non-null   int64
 8   FreeThrows.               9840 non-null   float64
 9   OffRebounds               9840 non-null   int64
 10  TotalRebounds             9840 non-null   int64
 11  Assists                   9840 non-null   int64
 12  Steals                    9840 non-null   int64
 13  Blocks                    9840 non-null   int64
 14  Turnovers                 9840 non-null   int64
 15  TotalFouls                9840 non-null   int64
 16  Opp.FieldGoalsAttempted   9840 non-null   int64
 17  Opp.3PointShotsAttempted  9840 non-null   int64
 18  Opp.FreeThrowsAttempted   9840 non-null   int64
 19  Opp.FreeThrows.           9840 non-null   float64
 20  Opp.OffRebounds           9840 non-null   int64
 21  Opp.TotalRebounds         9840 non-null   int64
 22  Opp.Assists               9840 non-null   int64
 23  Opp.Steals                9840 non-null   int64
 24  Opp.Blocks                9840 non-null   int64
 25  Opp.Turnovers             9840 non-null   int64
 26  Opp.TotalFouls            9840 non-null   int64
dtypes: bool(2), float64(2), int64(20), object(3)
memory usage: 1.9+ MB

In [16]:
df['Opponent'].unique()

array(['TOR', 'IND', 'SAS', 'CHO', 'NYK', 'UTA', 'MIA', 'CLE', 'LAL',
       'DET', 'WAS', 'NOP', 'BOS', 'BRK', 'DEN', 'PHI', 'ORL', 'CHI',
       'HOU', 'DAL', 'LAC', 'MIL', 'POR', 'MEM', 'OKC', 'MIN', 'GSW',
       'SAC', 'PHO', 'ATL'], dtype=object)

In [17]:
east = ['TOR','IND','CHO','NYK','MIA','CLE','DET',
        'WAS','BOS','BRK','PHI','ORL','CHI','MIL','ATL']

df['EastOpponent'] = df['Opponent'].isin(east)

In [18]:
west = ['SAS','UTA','LAL','NOP','DEN','HOU','DAL',
        'LAC','POR','MEM','OKC','MIN','GSW','SAC','PHO']

df['WestOpponent'] = df['Opponent'].isin(west)

In [19]:
df['DefRebound'] = df['TotalRebounds'] - df['OffRebounds']

In [20]:
df['Opp.DefRebound'] = df['Opp.TotalRebounds'] - df['Opp.OffRebounds']

In [21]:
df['X2PointShotAttempted'] = df['FieldGoalsAttempted'] - df['X3PointShotsAttempted']

In [22]:
df['Opp.2PointShotAttempted'] = df['Opp.FieldGoalsAttempted'] - df['Opp.3PointShotsAttempted']

In [23]:
df['HighFreeThrow%'] = df['FreeThrows.'] > .800

In [24]:
df['Opp.HighFreeThrow%'] = df['Opp.FreeThrows.'] >.800

In [25]:
df['HighFreeThrow%'].value_counts()

False    6310
True     3530
Name: HighFreeThrow%, dtype: int64

In [26]:
df.head()

  Team        Date  ...  HighFreeThrow% Opp.HighFreeThrow%
0  ATL  2014-10-29  ...           False               True
1  ATL  2014-11-01  ...           False               True
2  ATL  2014-11-05  ...           False              False
3  ATL  2014-11-07  ...           False              False
4  ATL  2014-11-08  ...           False              False

[5 rows x 35 columns]

In [27]:
df['TotalRebounds'].value_counts()

43    655
42    635
44    607
45    574
40    570
41    559
46    543
47    535
39    454
49    435
48    424
38    417
37    388
50    336
36    316
51    305
35    278
52    244
34    210
53    201
33    189
54    151
32    130
55    121
31     82
57     77
56     76
58     52
30     51
59     37
29     34
60     27
28     20
61     19
62     19
27     17
26     11
63     10
25      7
64      5
66      4
65      3
67      3
22      2
24      2
81      1
72      1
20      1
68      1
23      1
Name: TotalRebounds, dtype: int64

In [28]:
df['HighRebounds'] = df['TotalRebounds'] >= 60

In [29]:
df['OppHighRebounds'] = df['Opp.TotalRebounds'] >=60

In [30]:
df['AssistsTurnoverRatio'] = df['Assists'] / df['Turnovers']

In [31]:
df['Opp.AssistsTurnoverRatio'] = df['Opp.Assists'] / df['Opp.Turnovers']

In [32]:
df['TotalFouls'].value_counts()

19    964
20    952
18    846
21    836
22    782
17    745
23    685
16    645
24    547
15    476
25    444
14    363
26    314
13    225
27    218
12    161
28    149
29    129
11     91
30     71
31     45
10     40
32     30
33     18
9      16
34     15
35     10
8       9
36      4
37      4
7       2
41      1
42      1
38      1
39      1
Name: TotalFouls, dtype: int64

In [33]:
df['HighFoul%'] = df['TotalFouls'] >= 30

In [34]:
df['Opp.HighFoul%'] = df['Opp.TotalFouls'] >= 30

In [35]:
df['GameChangers'] = df['Steals'] + df['Blocks']

In [36]:
df['Opp.GameChangers'] = df['Opp.Steals'] + df['Opp.Blocks']

In [37]:
df.head()

  Team        Date   Home  ... Opp.HighFoul%  GameChangers  Opp.GameChangers
0  ATL  2014-10-29  False  ...         False            14                22
1  ATL  2014-11-01   True  ...         False            16                10
2  ATL  2014-11-05  False  ...         False            19                16
3  ATL  2014-11-07  False  ...          True            11                13
4  ATL  2014-11-08   True  ...         False            15                 8

[5 rows x 43 columns]

In [38]:
df['WINNER'].value_counts(normalize='True')

True     0.5
False    0.5
Name: WINNER, dtype: float64

In [39]:
target = df['WINNER']

X = df.drop('WINNER', axis=1)

In [40]:
train = X[X['Date'] <= '2016-06-30']

In [41]:
train.shape

(4920, 42)

In [42]:
val = X[X['Date'] > '2016-06-30']
val = val[val['Date'] <= '2017-06-30']

In [43]:
val.shape

(2460, 42)

In [44]:
test = X[X['Date'] > '2017-06-30']

In [45]:
test.shape

(2460, 42)

In [46]:
y = target
X_train = train
y_train = y[y.index.isin(X_train.index)]
X_val = val
y_val = y[y.index.isin(X_val.index)]
X_test = test
y_test = y[y.index.isin(X_test.index)]

In [47]:
  !pip install category_encoders==2

Collecting category_encoders==2
  Downloading https://files.pythonhosted.org/packages/6e/a1/f7a22f144f33be78afeb06bfa78478e8284a64263a3c09b1ef54e673841e/category_encoders-2.0.0-py2.py3-none-any.whl (87kB)
     |████████████████████████████████| 92kB 2.5MB/s
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2) (1.18.5)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2) (0.10.2)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2) (0.5.1)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2) (1.4.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2) (1.0.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2) (0.22.2.post1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders==2) (1.15.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders==2) (0.16.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.0.0

In [48]:
import pandas as pd
%matplotlib inline
import category_encoders as ce
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import FunctionTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import StandardScaler

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [49]:
###I dont feel like I did this right, this was my attempt to do a quick, easy train

pipeline = make_pipeline(
  ce.OneHotEncoder(),
  SimpleImputer(),
  StandardScaler(),
  RandomForestClassifier(
      n_estimators= 20,
      n_jobs=-1)
)

pipeline.fit(X_train, y_train)
print('training accuracy:', pipeline.score(X_train, y_train))
print('validation accuracy:', pipeline.score(X_val, y_val))

training accuracy: 0.998780487804878
validation accuracy: 0.8016260162601626

In [50]:
pipeline = make_pipeline(
    #go back to ordinal
  ce.OneHotEncoder(drop_invariant=True),
  SimpleImputer(strategy='median'),
  StandardScaler(with_mean=False),
  RandomForestClassifier(
      #criterion = 'entropy',
      #max_depth=19,
      #min_samples_split=7,
      #max_features=9,
      n_estimators= 20,
      n_jobs=-1)
)

param_distributions = {
    'randomforestclassifier__criterion': ('gini','entropy'),
    #'randomforestclassifier__max_depth' : (25,26,28,29),
    #'randomforestclassifier__max_features': (9,10,11,12),
    #'randomforestclassifier__min_samples_split': (6,10,12,14,15)
}

search = RandomizedSearchCV(
    pipeline,
    param_distributions=param_distributions,
    n_iter=10,
    cv=10,
    scoring='accuracy',
    verbose = 20,
    return_train_score=True,
    n_jobs=-1,
)

search.fit(X_train, y_train)
print('Cross-validation Best Score', search.best_score_)
print('Best Estimator', search.best_params_)
print('Best Model', search.best_estimator_)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done   3 tasks      | elapsed:    4.9s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:    4.9s
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:    6.5s
[Parallel(n_jobs=-1)]: Done   6 tasks      | elapsed:    6.6s
[Parallel(n_jobs=-1)]: Done   7 tasks      | elapsed:    8.2s
[Parallel(n_jobs=-1)]: Done   8 tasks      | elapsed:    8.3s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    9.9s
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:   10.0s
[Parallel(n_jobs=-1)]: Done  11 tasks      | elapsed:   11.6s
[Parallel(n_jobs=-1)]: Done  12 tasks      | elapsed:   11.7s
[Parallel(n_jobs=-1)]: Done  13 tasks      | elapsed:   13.3s
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:   13.4s
[Parallel(n_jobs=-1)]: Done  15 tasks      | elapsed:   15.0s
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:   15.0s
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   16.8s
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:   16.9s
[Parallel(n_jobs=-1)]: Done  19 tasks      | elapsed:   18.6s
[Parallel(n_jobs=-1)]: Done  20 tasks      | elapsed:   18.7s
[Parallel(n_jobs=-1)]: Done  21 tasks      | elapsed:   20.4s
[Parallel(n_jobs=-1)]: Done  22 tasks      | elapsed:   20.4s
[Parallel(n_jobs=-1)]: Done  23 tasks      | elapsed:   22.1s
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   22.1s
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   23.8s
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:   23.9s
[Parallel(n_jobs=-1)]: Done  27 tasks      | elapsed:   25.5s
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:   25.5s
[Parallel(n_jobs=-1)]: Done  29 tasks      | elapsed:   27.1s
[Parallel(n_jobs=-1)]: Done  30 tasks      | elapsed:   27.2s
[Parallel(n_jobs=-1)]: Done  31 tasks      | elapsed:   28.7s
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:   28.8s
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   30.4s
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   30.5s
[Parallel(n_jobs=-1)]: Done  35 tasks      | elapsed:   32.1s
[Parallel(n_jobs=-1)]: Done  36 tasks      | elapsed:   32.1s
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   33.8s
[Parallel(n_jobs=-1)]: Done  38 tasks      | elapsed:   33.9s
[Parallel(n_jobs=-1)]: Done  39 tasks      | elapsed:   35.7s
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:   35.7s
[Parallel(n_jobs=-1)]: Done  41 tasks      | elapsed:   37.5s
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   37.5s
[Parallel(n_jobs=-1)]: Done  43 tasks      | elapsed:   39.3s
[Parallel(n_jobs=-1)]: Done  44 tasks      | elapsed:   39.3s
[Parallel(n_jobs=-1)]: Done  45 tasks      | elapsed:   41.0s
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:   41.1s
[Parallel(n_jobs=-1)]: Done  47 tasks      | elapsed:   42.7s
[Parallel(n_jobs=-1)]: Done  48 tasks      | elapsed:   42.8s
[Parallel(n_jobs=-1)]: Done  49 tasks      | elapsed:   44.4s
[Parallel(n_jobs=-1)]: Done  50 tasks      | elapsed:   44.5s
[Parallel(n_jobs=-1)]: Done  51 tasks      | elapsed:   46.2s
[Parallel(n_jobs=-1)]: Done  52 tasks      | elapsed:   46.2s
[Parallel(n_jobs=-1)]: Done  53 tasks      | elapsed:   47.9s
[Parallel(n_jobs=-1)]: Done  54 tasks      | elapsed:   48.0s
[Parallel(n_jobs=-1)]: Done  55 tasks      | elapsed:   49.7s
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:   49.7s
[Parallel(n_jobs=-1)]: Done  57 tasks      | elapsed:   51.5s
[Parallel(n_jobs=-1)]: Done  58 tasks      | elapsed:   51.5s
[Parallel(n_jobs=-1)]: Done  59 tasks      | elapsed:   53.2s
[Parallel(n_jobs=-1)]: Done  60 tasks      | elapsed:   53.2s
[Parallel(n_jobs=-1)]: Done  61 tasks      | elapsed:   54.8s
[Parallel(n_jobs=-1)]: Done  62 tasks      | elapsed:   54.9s
[Parallel(n_jobs=-1)]: Done  63 tasks      | elapsed:   56.5s
[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:   56.6s
[Parallel(n_jobs=-1)]: Done  65 tasks      | elapsed:   58.2s
[Parallel(n_jobs=-1)]: Done  66 tasks      | elapsed:   58.3s
[Parallel(n_jobs=-1)]: Done  67 tasks      | elapsed:   59.9s
[Parallel(n_jobs=-1)]: Done  68 tasks      | elapsed:   60.0s
[Parallel(n_jobs=-1)]: Done  69 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done  70 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done  71 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done  72 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done  73 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done  74 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done  75 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done  76 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done  77 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done  78 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done  79 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done  80 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done  81 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done  82 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done  83 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done  84 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done  85 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done  86 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done  87 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  88 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  89 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  90 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  91 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  92 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  93 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  94 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  95 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  96 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  97 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:  1.4min finished

Cross-validation Best Score 0.8128048780487804
Best Estimator {'randomforestclassifier__min_samples_split': 12, 'randomforestclassifier__max_features': 12, 'randomforestclassifier__max_depth': 28, 'randomforestclassifier__criterion': 'entropy'}
Best Model Pipeline(memory=None,
         steps=[('onehotencoder',
                 OneHotEncoder(cols=['Team', 'Date', 'Opponent'],
                               drop_invariant=True, handle_missing='value',
                               handle_unknown='value', return_df=True,
                               use_cat_names=False, verbose=0)),
                ('simpleimputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='median',
                               verbose=0)),
                ('standardscaler',
                 St...
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='entropy',
                                        max_depth=28, max_features=12,
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1,
                                        min_samples_split=12,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=20, n_jobs=-1,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [51]:
print('training accuracy:', search.score(X_train, y_train))
print('validation accuracy:', search.score(X_val, y_val))
print('testing accuracy:', search.score(X_test, y_test))

training accuracy: 0.9865853658536585
validation accuracy: 0.8121951219512196
testing accuracy: 0.7959349593495935

In [53]:
from xgboost import XGBClassifier

pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    XGBClassifier(n_estimators=100,
                  random_state=42,
                  n_jobs=-1)
)

pipeline.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('ordinalencoder',
                 OrdinalEncoder(cols=['Team', 'Date', 'Opponent'],
                                drop_invariant=False, handle_missing='value',
                                handle_unknown='value',
                                mapping=[{'col': 'Team',
                                          'data_type': dtype('O'),
                                          'mapping': ATL     1
BOS     2
BRK     3
CHO     4
CHI     5
CLE     6
DAL     7
DEN     8
DET     9
GSW    10
HOU    11
IND    12
LAC    13
LAL    14
MEM    15
MIA    16
MIL    17
MIN    18
NOP    19
NYK    20
OKC    21
ORL    22
PHI    23
PHO    24
POR    25
SAC    26
SAS    27
TOR    28
UTA...
                 XGBClassifier(base_score=0.5, booster='gbtree',
                               colsample_bylevel=1, colsample_bynode=1,
                               colsample_bytree=1, gamma=0, learning_rate=0.1,
                               max_delta_step=0, max_depth=3,
                               min_child_weight=1, missing=None,
                               n_estimators=100, n_jobs=-1, nthread=None,
                               objective='binary:logistic', random_state=42,
                               reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
                               seed=None, silent=None, subsample=1,
                               verbosity=1))],
         verbose=False)

In [54]:
 print('Training Accuracy:', pipeline.score(X_train, y_train))
print('Validation Accuracy:', pipeline.score(X_val, y_val))

Training Accuracy: 0.9115853658536586
Validation Accuracy: 0.8573170731707317

In [56]:
from sklearn.ensemble import GradientBoostingClassifier

pipeline = make_pipeline(
    ce.OrdinalEncoder(), 
    SimpleImputer(strategy='median'), 
    GradientBoostingClassifier(random_state=42)
)


pipeline.fit(X_train, y_train);

In [57]:
print('Training Accuracy:', pipeline.score(X_train, y_train))
print('Validation Accuracy:', pipeline.score(X_val, y_val))

Training Accuracy: 0.9138211382113821
Validation Accuracy: 0.8613821138211382

In [67]:
from sklearn.inspection import permutation_importance

pi = permutation_importance(pipeline,
                            X_val,
                            y_val,
                            random_state=42,
                            n_jobs=-1)

In [68]:
pi.keys()

dict_keys(['importances_mean', 'importances_std', 'importances'])

In [70]:
p_importance = pd.DataFrame({'feature' : X_val.columns,
                             'weight'  : pi.importances_mean,
                             'std'     : pi.importances_std})

p_importance.sort_values('weight', ascending=False).head(10)

                     feature    weight       std
29            Opp.DefRebound  0.143415  0.008168
28                DefRebound  0.141301  0.010337
37  Opp.AssistsTurnoverRatio  0.083171  0.004779
36      AssistsTurnoverRatio  0.078293  0.007638
25            Opp.TotalFouls  0.006423  0.001614
41          Opp.GameChangers  0.005203  0.001694
13                 Turnovers  0.004715  0.001829
40              GameChangers  0.004390  0.000474
30      X2PointShotAttempted  0.004065  0.001763
24             Opp.Turnovers  0.003659  0.001431